<nav class="pagination-section" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item{% if first_page %} disabled{% endif %}">
      <a class="page-link" href="{{ first_page_link }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% for page in pages %}
      <li class="page-item{% if page.is_active %} active{% endif %}">
        <a class="page-link" href="{{ page.link }}">{{ page.number }}</a>
      </li>
    {% endfor %}
    <li class="page-item{% if last_page %} disabled{% endif %}">
      <a class="page-link" href="{{ last_page_link }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>