{% extends "_layout.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}
  <div class="row">
    <div class="col participants">
      <p class="participants__string">
        Участники в Новосибирске:
        <a href="#" class="participants__link h5">105 оптовых компаний</a>
        <a href="#" class="participants__link h5">25 производителей</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col requests-form">
      <p class="requests-form__title h2 text-center">
        ВАМ ПОЗВОНЯТ ЛУЧШИЕ ПОСТАВЩИКИ НОВОСИБИРСКА
      </p>
      <form action="#" class="requests-form__form">
        <div class="row">
          <div class="col-sm-3 col-md-2">
            <p class="h3">Я ищу</p>
          </div>
          <div class="col-sm-9 col-md-10">
            <div class="row">
              <div class="col-12">
                <input type="checkbox" id="zhbi" name="zhbi">
                <label for="zhbi">
                  ЖБИ
                  <span class="text-secondary">
                    ( фундаментальные блоки ФБС, плиты перекрытий ПК, перемычки )
                  </span>
                </label>
              </div>
              <div class="col-12">
                <input type="checkbox" id="brick" name="brick">
                <label for="brick">Кирпич / Газобетон / Брус</label>
              </div>
              <div class="col-12">
                <input type="checkbox" id="beton" name="beton">
                <label for="beton">Бетон / Раствор</label>
              </div>
              <div class="col-12 requests-form__city-selection">
                <a href="javascript:void(0)" class="requests-form__city-selection-button">
                  в Новосибирске и области ▼
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-md-2">
            <label for="requests-form__description">Описание *</label>
          </div>
          <div class="col-sm-9 col-md-10">
            <input class="requests-form__input col-12" id="requests-form__description" name="description">
            <p class="text-secondary">
              Пример: нужно фбс 24.4.6 50 шт плиты пк 20 ПК 60-20-12 доставка в Новолуговое
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-md-2">
            <label for="requests-form__phone">Телефон *</label>
          </div>
          <div class="col-sm-3 col-md-4">
            <input class="requests-form__input col-12" id="requests-form__phone" name="phone">
          </div>
          <div class="col-sm-3 col-md-2">
            <label for="requests-form__name">Имя *</label>
          </div>
          <div class="col-sm-3 col-md-4">
            <input class="requests-form__input col-12" id="requests-form__name" name="name">
          </div>
        </div>
        <div class="row justify-content-center">
          <input type="submit" value="ОПУБЛИКОВАТЬ ЗАЯВКУ" class="requests-form__submit btn btn-primary">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col requests-list">
      <div class="requests-list__title">
        <p class="h2 text-center">Свежие заявки</p>
      </div>
      <div class="col-12">
        <div class="row justify-content-between requests-list__filter text-secondary">
          <div class="">
            <span>раздел: <a href="javascript:void(0)">Все ▼</a></span>
          </div>
          <div class="">
            <span>регион: <a href="javascript:void(0)">Новосибирск и область ▼</a></span>
          </div>
        </div>
      </div>

      <hr>
      {% for number in range(10) %}
        <article class="requests-article">
          <div class="col-12">
            <header class="row justify-content-between requests-article__header text-secondary">
              <span class="requests-article__time">вчера, в 21:30</span>
              <span class="requests-article__favorite"><span class="oi oi-star"></span> в закладки</span>
            </header>
          </div>

          <p class="requests-article__text">
            60 шт. ПК от 72-15 до ПК 21-15, Криводановка, с доставкой.
          </p>
          <p class="requests-article__author">
            Алексей
          </p>
          <button class="requests-article__number-button btn">Показать телефон</button>
          <small class="requests-article__views-cnt">12 просмотров</small>
        </article>
        <hr>
      {% endfor %}
    </div>
  </div>
{% endblock %}