{% extends "_layout.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-12 participants">
      <p class="participants__string">
        Участники в Новосибирске:
        <a href="#" class="participants__link h5">105 оптовых компаний</a>
        <a href="#" class="participants__link h5">25 производителей</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 requests-form">
      <p class="requests-form__title h2 text-center">
        ВАМ ПОЗВОНЯТ ЛУЧШИЕ ПОСТАВЩИКИ НОВОСИБИРСКА
      </p>
      <form action="#" class="requests-form__form">
        <div class="row requests-form__row">
          <div class="col-sm-3 col-md-2">
            <p class="h3">Я ищу</p>
          </div>
          <div class="col-sm-9 col-md-10">
            <div class="row">
              <div class="col-12 requests-form__option">
                <input type="checkbox" id="zhbi" name="zhbi">
                <label for="zhbi">
                  ЖБИ
                  <span class="text-secondary">
                    ( фундаментальные блоки ФБС, плиты перекрытий ПК, перемычки )
                  </span>
                </label>

              </div>
              <div class="col-12 requests-form__option">
                <input type="checkbox" id="brick" name="brick">
                <label for="brick">Кирпич / Газобетон / Брус</label>
              </div>
              <div class="col-12 requests-form__option">
                <input type="checkbox" id="beton" name="beton">
                <label for="beton">Бетон / Раствор</label>
              </div>
              <div class="col-12 requests-form__city-selection">
                <a href="javascript:void(0)" class="requests-form__city-selection-button">
                  в Новосибирске и области ▼
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row requests-form__row">
          <div class="col-sm-3 col-md-2">
            <label for="requests-form__description">Описание *</label>
          </div>
          <div class="col-sm-9 col-md-10">
            <input class="requests-form__input col-12" id="requests-form__description" name="description">
            <p class="text-secondary">
              Пример: нужно фбс 24.4.6 50 шт плиты пк 20 ПК 60-20-12 доставка в Новолуговое
            </p>
          </div>
        </div>
        <div class="row requests-form__row">
          <div class="col-sm-3 col-md-2">
            <label for="requests-form__phone">Телефон *</label>
          </div>
          <div class="col-sm-3 col-md-4">
            <input class="requests-form__input col-12" id="requests-form__phone" name="phone">
          </div>
          <div class="col-sm-3 col-md-2">
            <label for="requests-form__name">Имя *</label>
          </div>
          <div class="col-sm-3 col-md-4">
            <input class="requests-form__input col-12" id="requests-form__name" name="name">
          </div>
        </div>
        <div class="row justify-content-center">
          <input type="submit" value="ОПУБЛИКОВАТЬ ЗАЯВКУ"
                 class="requests-form__submit btn btn-outline-dark btn-circle">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12 requests-list">
      <div class="requests-list__title">
        <p class="h2 text-center">Свежие заявки</p>
      </div>
      <div class="col-12">
        <div class="row justify-content-between requests-list__filter text-secondary">
          <div class="">
            <span>раздел: <a href="javascript:void(0)">Все ▼</a></span>
          </div>
          <div class="">
            <span>регион: <a href="javascript:void(0)">Новосибирск и область ▼</a></span>
          </div>
        </div>
      </div>

      <hr>
      {% for number in range(5) %}
        <article class="requests-article">
          <div class="col-12">
            <header class="row justify-content-between requests-article__header text-secondary">
              <span class="requests-article__time">вчера, в 21:30</span>
              <span class="requests-article__favorite"><span class="oi oi-star"></span> в закладки</span>
            </header>
          </div>

          <p class="requests-article__text">
            60 шт. ПК от 72-15 до ПК 21-15, Криводановка, с доставкой.
          </p>
          <p class="requests-article__author">
            Алексей
          </p>
          <button class="requests-article__number-button btn btn-secondary btn-circle" data-id="{{ number }}">Показать телефон</button>
          <span id="request-{{ number }}-tel" class="requests-article__tel-number" hidden>
            <a href="tel:+7999876543{{ number }}">+7(999)876-54-3{{ number }}</a>
          </span>
          <small id="request-{{ number }}-views-cnt" class="requests-article__views-cnt" data-count="12">12 просмотров</small>
        </article>
        <hr>
      {% endfor %}

      <p class="text-center requests-list__more-button">
        <a href="requests.html" class="btn btn-outline-dark btn-circle">Посмотреть все заявки</a>
      </p>
    </div>
  </div>
  <div class="row reviews-section">
    <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 reviews">
      <div class="carousel slide reviews__carousel" data-ride="carousel">
        <div class="carousel-inner">

          {% for number in range(5) %}

          <div id="reviewsCarousel" class="carousel-item{% if number == 0 %} active{% endif %} review">
            <div class="media">
              <img class="mr-3" src="http://via.placeholder.com/64" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0">Кирилл, 29 лет, г. Барабинск {{ number }}</h5>
                Бла-бла, мне помогло, все супер! Бла-бла, мне помогло, все супер! Бла-бла, мне помогло, все супер!
                Бла-бла, мне помогло, все супер! Бла-бла, мне помогло, все супер!
              </div>
            </div>
          </div>

          {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#reviewsCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon prev-icon-black" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#reviewsCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon next-icon-black" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-2 col-lg-3 add-review align-self-center">
      <p class="text-center">
        <button class="btn btn-outline-dark btn-circle add-review__button">Оставить отзыв</button>
      </p>
    </div>
  </div>
{% endblock %}