{% extends "_layout.html" %}
{% block title %}Заявки{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-12 requests-list">
      <div class="requests-list__title">
        <p class="h2 text-center">Заявки</p>
      </div>
      <div class="col-12">
        <div class="row justify-content-between requests-list__filter text-secondary">
          <div class="">
            <span>раздел: <a href="javascript:void(0)">Все ▼</a></span>
          </div>
          <div class="">
            <span>регион: <a href="javascript:void(0)">Новосибирск и область ▼</a></span>
          </div>
        </div>
      </div>

      <hr>
      {% for number in range(10) %}
        {% include '_request_article.html' %}
      {% endfor %}
    </div>
  </div>
  <div class="col-12">
    <div class="row justify-content-center">
      {% include '_pagination.html' %}
    </div>
  </div>

{% endblock %}